* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.chatContent::-webkit-scrollbar {
  width: 10px;
}
.chatContent::-webkit-scrollbar-track {
  background: #1a202c;
  border-radius: 12px;
}
.chatContent::-webkit-scrollbar-thumb {
  background: rgba(45, 55, 72, 0.6);
  border-radius: 10px;
  transition: all 0.15s ease;
}
.chatContent::-webkit-scrollbar-thumb:hover {
  background: rgba(45, 55, 72, 1);
}

.gifsContent {
  columns: 4 auto;
}
